.theme-light .skeleton-active {
  .skeleton {
    &:before {
      background: linear-gradient(270deg, rgba(201, 222, 233, 0.24) 0%, rgba(201, 222, 233, 0) 100%);
    }
  }
}

.c-modal, .c-block, .c-compact-card {
  .c-button {
    &.secondary {
      @apply bg-alt;

      &:hover {
        @apply bg-alt2;
      }

      &:active {
        @apply bg-base;
      }

      &.outline {
        @apply border-alt4;

        &:hover {
          @apply border-alt3;
        }

        &:active {
          @apply border-alt2;
        }
      }
    }
  }
}
.skeleton-container {
  &.skeleton-active {
    .skeleton {
      @apply relative overflow-hidden rounded pointer-events-none;

      .skeleton {
        &:before, &:after {
          @apply hidden;
        }
      }

      &:after {
        @apply block text-0 h-full absolute w-full top-0 left-0 bg-base z-30;
        content: "";
      }

      &:before {
        @apply inset-0 absolute opacity-30 z-40;
        content: '';
        transform: translateX(-100%);
        animation: skeleton 1.2s infinite;
        background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
      }

      * {
        color: transparent !important;
      }
    }
  }
}


@keyframes skeleton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


// code highlights
.theme-light {
  /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

  /* Tomorrow Comment */
  .hljs-comment,
  .hljs-quote {
    color: #8e908c;
  }

  /* Tomorrow Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #c82829;
  }

  /* Tomorrow Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: #f5871f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #eab700;
  }

  /* Tomorrow Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #718c00;
  }

  /* Tomorrow Blue */
  .hljs-title,
  .hljs-section {
    color: #4271ae;
  }

  /* Tomorrow Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #8959a8;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.theme-dark {
  /* Tomorrow Comment */
  .hljs-comment,
  .hljs-quote {
    color: #969896;
  }

  /* Tomorrow Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #cc6;
  }

  /* Tomorrow Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: #de935f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #f0c674;
  }

  /* Tomorrow Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #b5bd68;
  }

  /* Tomorrow Blue */
  .hljs-title,
  .hljs-section {
    color: #81a2be;
  }

  /* Tomorrow Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #b294bb;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
