
$pathFont: '../fonts/';
$fonts: (
        icomoon: icomoon
);

@mixin font-face($fontName, $folderName, $fileName, $fontWeight: normal, $fontStyle: normal) {
  @font-face {
    font-display: swap;
    font-family: $fontName;
    src: url('#{$pathFont}#{$folderName}/#{$fileName}.eot');
    src: url('#{$pathFont}#{$folderName}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
    url('#{$pathFont}#{$folderName}/#{$fileName}.woff') format('woff');
    //url('#{$pathFont}#{$folderName}/#{$fileName}.ttf') format('truetype'),
    //url('#{$pathFont}#{$folderName}/#{$fileName}.svg##{$fontName}') format('svg');
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@each $item, $value in $fonts {
  @include font-face('#{$value}', '#{$value}', '#{$item}', normal);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/*! purgecss start ignore */

.icon-circle {
  @apply flex items-center justify-center rounded-full w-5 h-5 text-10 border bg-accent border-accent-alt2;
}
.icon, [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ecomovement::before {
  content: "\e900";
}
.icon-ocm::before {
  content: "\e901";
}
.icon-menu::before {
  content: "\e936";
}
.icon-globe::before {
  content: "\e937";
}
.icon-italic::before {
  content: "\e902";
}
.icon-bold::before {
  content: "\e903";
}
.icon-h3::before {
  content: "\e904";
}
.icon-h2::before {
  content: "\e905";
}
.icon-h1::before {
  content: "\e906";
}
.icon-next::before {
  content: "\e907";
}
.icon-survey::before {
  content: "\e908";
}
.icon-code::before {
  content: "\e909";
}
.icon-arrow-up::before {
  content: "\e90a";
}
.icon-arrow-down::before {
  content: "\e90b";
}
.icon-off-indicator::before {
  content: "\e90c";
}
.icon-on-indicator::before {
  content: "\e90d";
}
.icon-slash::before {
  content: "\e90e";
}
.icon-enter::before {
  content: "\e90f";
}
.icon-minus::before {
  content: "\e910";
}
.icon-chevron-down::before {
  content: "\e911";
}
.icon-chevron-up::before {
  content: "\e912";
}
.icon-chevron-right::before {
  content: "\e913";
}
.icon-chevron-left::before {
  content: "\e914";
}
.icon-arrow-left::before {
  content: "\e915";
}
.icon-arrow-right::before {
  content: "\e916";
}
.icon-arrow-up-left::before {
  content: "\e917";
}
.icon-arrow-up-right::before {
  content: "\e918";
}
.icon-add::before {
  content: "\e919";
}
.icon-close-1::before {
  content: "\e91a";
}
.icon-checkmark::before {
  content: "\e91b";
}
.icon-playground::before {
  content: "\e91c";
}
.icon-dashboard-alt::before {
  content: "\e91d";
}
.icon-dashboard::before {
  content: "\e91e";
}
.icon-faq-alt-2::before {
  content: "\e91f";
}
.icon-faq-alt::before {
  content: "\e920";
}
.icon-question::before {
  content: "\e921";
}
.icon-voyager-alt::before {
  content: "\e922";
}
.icon-voyager::before {
  content: "\e923";
}
.icon-home::before {
  content: "\e924";
}
.icon-new-app::before {
  content: "\e925";
}
.icon-close::before {
  content: "\e926";
}
.icon-bullets::before {
  content: "\e927";
}
.icon-notifications::before {
  content: "\e928";
}
.icon-components::before {
  content: "\e929";
}
.icon-wrench::before {
  content: "\e92a";
}
.icon-location::before {
  content: "\e92b";
}
.icon-qr-code::before {
  content: "\e92c";
}
.icon-circle-chevron-down::before {
  content: "\e92d";
}
.icon-circle-cross::before {
  content: "\e92e";
}
.icon-circle-pending::before {
  content: "\e92f";
}
.icon-circle-checkmark::before {
  content: "\e930";
}
.icon-heart::before {
  content: "\e931";
}
.icon-building-blocks::before {
  content: "\e932";
}
.icon-squared-terminal::before {
  content: "\e933";
}
.icon-slashes::before {
  content: "\e934";
}
.icon-documentation::before {
  content: "\e935";
}
.icon-dark-mode::before {
  content: "\e938";
}
.icon-route::before {
  content: "\e939";
}
.icon-image::before {
  content: "\e93a";
}
.icon-circle-minus::before {
  content: "\e93b";
}
.icon-circle-plus::before {
  content: "\e93c";
}
.icon-search::before {
  content: "\e93d";
}
.icon-brand::before {
  content: "\e93e";
}
.icon-car::before {
  content: "\e93f";
}
.icon-charge-stations::before {
  content: "\e940";
}
.icon-person-circle::before {
  content: "\e941";
}
.icon-eye-invisible::before {
  content: "\e942";
}
.icon-eye-visible::before {
  content: "\e943";
}
.icon-clipboard::before {
  content: "\e944";
}
.icon-edit::before {
  content: "\e945";
}
.icon-delete::before {
  content: "\e946";
}
.icon-circle-arrow-down::before {
  content: "\e947";
}
.icon-circle-arrow-up::before {
  content: "\e948";
}
.icon-side-panel-bottom::before {
  content: "\e949";
}
.icon-side-panel-top::before {
  content: "\e94a";
}
.icon-side-panel-right::before {
  content: "\e94b";
}
.icon-side-panel-left::before {
  content: "\e94c";
}
.icon-map-marker::before {
  content: "\e94d";
}
.icon-warning-triangle::before {
  content: "\e94e";
}
.icon-warning-circle::before {
  content: "\e94f";
}
.icon-info::before {
  content: "\e950";
}
.icon-filter-alt::before {
  content: "\e951";
}
.icon-filter::before {
  content: "\e952";
}
.icon-export::before {
  content: "\e953";
}
.icon-import::before {
  content: "\e954";
}
.icon-log-out::before {
  content: "\e955";
}
.icon-log-in::before {
  content: "\e956";
}
.icon-location-center::before {
  content: "\e957";
}
.icon-profile::before {
  content: "\e958";
}
.icon-contact::before {
  content: "\e959";
}
.icon-terminal::before {
  content: "\e95a";
}
.icon-receipt::before {
  content: "\e95b";
}
.icon-reports::before {
  content: "\e95c";
}
.icon-graph-bars::before {
  content: "\e95d";
}
.icon-graph-line::before {
  content: "\e95e";
}
.icon-add-project::before {
  content: "\e95f";
}
.icon-projects::before {
  content: "\e960";
}

/*! purgecss end ignore */
