@import "./tailwind";
@import "./fonts";
@import "./typograhpy";
@import "./theme";

.sticky-header, .header-gradient {
  background: var(--sticky-bg);
}
.sticky-header {
  @apply sticky top-0 z-40 py-8;
}

a {
  @apply outline-none;
}

.icon {
  &-square {
    @apply w-8;

    &.lg {
      @apply w-14 h-14 rounded-lg;
    }
  }


  &-rect {
    @apply w-14;
  }

  &-square, &-rect {
    @apply flex items-center leading-none cursor-pointer justify-center h-8 rounded-sm bg-alt transition-colors duration-500 ease-in-out;

    &:hover, &.active {
      @apply bg-alt2;
    }
  }

}

::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

.center {
  @apply absolute transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
}

.animate {
  @apply transition-all duration-500;

  &:not(.animated-in) {
    @apply opacity-0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.theme-light {
  /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

  /* Tomorrow Comment */
  .hljs-comment,
  .hljs-quote {
    color: #8e908c;
  }

  /* Tomorrow Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #c82829;
  }

  /* Tomorrow Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: #f5871f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #eab700;
  }

  /* Tomorrow Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #718c00;
  }

  /* Tomorrow Blue */
  .hljs-title,
  .hljs-section {
    color: #4271ae;
  }

  /* Tomorrow Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #8959a8;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.theme-dark {
  /* Tomorrow Comment */
  .hljs-comment,
  .hljs-quote {
    color: #969896;
  }

  /* Tomorrow Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #cc6;
  }

  /* Tomorrow Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: #de935f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #f0c674;
  }

  /* Tomorrow Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #b5bd68;
  }

  /* Tomorrow Blue */
  .hljs-title,
  .hljs-section {
    color: #81a2be;
  }

  /* Tomorrow Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #b294bb;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

