@import "./tailwind";
@import "./fonts";
@import "./typograhpy";
@import "./theme";

.sticky-header, .header-gradient {
  background: var(--sticky-bg);
}
.sticky-header {
  @apply sticky top-0 z-40 py-8;
}

a {
  @apply outline-none;
}

.icon {
  &-square {
    @apply w-8;

    &.lg {
      @apply w-14 h-14 rounded-lg;
    }
  }


  &-rect {
    @apply w-14;
  }

  &-square, &-rect {
    @apply flex items-center leading-none cursor-pointer justify-center h-8 rounded-sm bg-alt transition-colors duration-500 ease-in-out;

    &:hover, &.active {
      @apply bg-alt2;
    }
  }

}

::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

.center {
  @apply absolute transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
}

.animate {
  @apply transition-all duration-500;

  &:not(.animated-in) {
    @apply opacity-0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
