/*! purgecss start ignore */
.theme-dark {
  --body: #0C0C0F;
  --base: #202024;
  --subdued: #161619;
  --alt: #34343D;
  --alt2: #54545C;
  --alt3: #7C7C84;
  --alt4: #EBEDEF;
  --accent: #1F97FF;
  --accent-alt: #086CC2;
  --accent-alt2: #004886;

  --font-primary: #FFF;
  --font-alt: #E8EDF1;
  --font-alt2: #CCD5DE;
  --font-alt3: #9CA7B2;
  --font-accent: var(--accent);

  --white: #FFF;
  --black: #0C0C0F;

  --sticky-bg: linear-gradient(180deg, #0C0C0F 80%, rgba(12, 12, 15, 0) 100%);

  --warning: #ED7922;
  --warning-alt: #AA4E09;
  --warning-alt2: #331600;

  --error: #E12424;
  --error-alt: #A11616;
  --error-alt2: #480A0A;

  --success: #2BC7B4;
  --success-alt: #1D8679;
  --success-alt2: #0D3B35;

  --note: #7214E9;
  --note-alt: #4E0EA0;
  --note-alt2: #330967;

  --shadow-up-xl: 0 -8px 16.4762px rgba(0, 0, 0, 0.04), 0 -4px 9px rgba(0, 0, 0, 0.06);
  --shadow-up-md: 0 -8px 16.4762px rgba(0, 0, 0, 0.04), 0 -4px 9px rgba(0, 0, 0, 0.06);
  --shadow-down-xl: 0 20 30.7363px rgba(0, 0, 0, 0.04), 0 8px 16.4762px rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.06);
  --shadow-down-md: 0 8px 16.4762px rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.06);
  --shadow-down-sm: 0 4px 4px 4px rgba(0, 0, 0, 0.02), 0 2px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0 45px 83px rgba(32, 32, 36, 0.12), 0 17.2855px 46.5041px rgba(32, 32, 36, 0.081879), 0 10.8345px 34.7712px rgba(32, 32, 36, 0.0669109), 0 7.34724px 27.1788px rgba(32, 32, 36, 0.0544026), 0 4.72049px 19.8662px rgba(32, 32, 36, 0.0403388), 0 2.34878px 11.1476px rgba(32, 32, 36, 0.0227083);

  --chart-gradient-1: rgba(0, 120, 255, 0.5);
  --chart-gradient-2: rgba(0, 120, 255, 0);

}

.theme-light {
  --body: #FFF;
  --base: #F4F8FB;
  --subdued: #FAFCFD;
  --alt: #E5F0F5;
  --alt2: #C9DEE9;
  --alt3: #8DADBF;
  --alt4: #608192;
  --accent: #0078FF;
  --accent-alt: #005EE5;
  --accent-alt2: #0041C8;

  --font-primary: #0C0C10;
  --font-alt: #202024;
  --font-alt2: #404046;
  --font-alt3: #787884;
  --font-accent: var(--accent);

  --white: #FFF;
  --black: #0C0C0F;

  --sticky-bg: linear-gradient(180deg, #FFF 80%, rgba(255, 255, 255, 0) 100%);

  --warning: #F46F09;
  --warning-alt: #F8984E;
  --warning-alt2: #FCD7BA;

  --error: #EF0B0B;
  --error-alt: #F63C3C;
  --error-alt2: #FBA7A7;

  --success: #19DDC5;
  --success-alt: #7FF0E3;
  --success-alt2: #C8F9F3;

  --note: #680DDB;
  --note-alt: #AB6EF7;
  --note-alt2: #E9D8FD;

  --shadow-up-xl: 0 -8px 16.4762px rgba(0, 0, 0, 0.04), 0 -4px 9px rgba(0, 0, 0, 0.06);
  --shadow-up-md: 0 -8px 16.4762px rgba(0, 0, 0, 0.04), 0 -4px 9px rgba(0, 0, 0, 0.06);
  --shadow-down-xl: 0 20 30.7363px rgba(0, 0, 0, 0.04), 0 8px 16.4762px rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.06);;
  --shadow-down-md: 0 8px 16.4762px rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.06);
  --shadow-down-sm: 0 4px 4px 4px rgba(0, 0, 0, 0.02), 0 2px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0 7.34724px 27.1788px rgba(32, 32, 36, 0.0544026), 0 4.72049px 19.8662px rgba(32, 32, 36, 0.0403388), 0 2.34878px 11.1476px rgba(32, 32, 36, 0.0227083);

  --chart-gradient-1: rgba(31, 151, 255, 0.32);
  --chart-gradient-2: rgba(31, 151, 255, 0);
}

/*! purgecss end ignore */
